build --experimental_cc_implementation_deps

build --copt -fPIC
build --copt -std=c++20

build:portable_glibc --define SXT_PORTABLE_GLIBC=1
build:portable_glibc --action_env=BAZEL_LINKLIBS='-l%:libstdc++.a'
build:portable_glibc --action_env=BAZEL_LINKOPTS='-static-libstdc++ -static-libgcc'

build --flag_alias=enable_cuda=@rules_cuda//cuda:enable
build --flag_alias=cuda_archs=@rules_cuda//cuda:archs
build --flag_alias=cuda_compiler=@rules_cuda//cuda:compiler
build --flag_alias=cuda_copts=@rules_cuda//cuda:copts
build --flag_alias=cuda_host_copts=@rules_cuda//cuda:host_copts
build --flag_alias=cuda_runtime=@rules_cuda//cuda:runtime

build --@rules_cuda//cuda:archs=compute_70:compute_70,sm_70
build --@rules_cuda//cuda:runtime=@local_cuda//:cuda_runtime_static

build --enable_cuda=True

# Use --config=clang to build with clang instead of gcc and nvcc.
build:clang --repo_env=CC=clang
build:clang --@rules_cuda//cuda:compiler=clang
build:clang --copt=-stdlib=libstdc++
build:clang --action_env CC=/usr/bin/clang-18
build:clang --action_env CXX=/usr/bin/clang++-18
build --@rules_cuda//cuda:copts=-std=c++20
build --@rules_cuda//cuda:host_copts=-std=c++20
build --config=clang


build:asan --copt -fsanitize=address
build:asan --linkopt -fsanitize=address

# For asan to work with cuda, we need to add this option
# See https://github.com/google/sanitizers/issues/629#issuecomment-161357276
test:asan --action_env=ASAN_OPTIONS=protect_shadow_gap=0
run:asan --action_env=ASAN_OPTIONS=protect_shadow_gap=0

# Hack to add suppressions for libcuda
# See https://github.com/bazelbuild/bazel/issues/3216
#     https://stackoverflow.com/a/74297943
build:asan --workspace_status_command=./ci/lsan_hack.sh
run:asan --action_env=LSAN_OPTIONS=suppressions=/tmp/sxt-blitzar-lsan.supp
test:asan --action_env=LSAN_OPTIONS=suppressions=/tmp/sxt-blitzar-lsan.supp

# For machines with many cpu cores available, we could not compile
# the code. Many times (not always) the following error was launched:
# `ptxas /tmp/tmpfxt_00000017_00000000-0, line 1; fatal : Missing .version...`
# See https://github.com/bazelbuild/bazel/issues/14410#issuecomment-997843606
# for more information.
# To fix the problem, we added the following line:
build --sandbox_add_mount_pair=.:/tmp
build --spawn_strategy local

test --test_output=errors
