build --cxxopt -std=c++17
build --config=cuda

build:cuda --crosstool_top=@local_config_cuda//crosstool:toolchain
build:cuda --define=using_cuda=true --define=using_cuda_nvcc=true --define=using_cuda_clang=false

build:cuda_clang --crosstool_top=@local_config_cuda//crosstool:toolchain
build:cuda_clang --define=using_cuda=true --define=using_cuda_clang=true

build:win-cuda --define=using_cuda=true --define=using_cuda_nvcc=true

build:opt --cxxopt=-march=native --copt=-march=native
build --action_env TF_NEED_CUDA="1"
build --action_env TF_NEED_OPENCL="1"
build --action_env TF_CUDA_CLANG="0"
build --action_env HOST_CXX_COMPILER="/usr/bin/gcc"
build --action_env HOST_C_COMPILER="/usr/bin/gcc"
build --action_env GCC_HOST_COMPILER_PATH="/usr/bin/gcc"

build --action_env CUDA_TOOLKIT_PATH="/usr/local/cuda"
build --action_env PYTHON_BIN_PATH="/usr/bin/python3"
build --action_env TF_CUDA_VERSION="11.6"
build --action_env TF_CUDNN_VERSION="8"
build --action_env CUDNN_INSTALL_PATH="/usr"
build --action_env TF_CUDA_COMPUTE_CAPABILITIES="7.0"
build --action_env COMPUTECPP_TOOLKIT_PATH="/usr/local/computecpp"
build --action_env TMP="/tmp"
