# Ignore all bazel-* symlinks. There is no full list since this can change
# based on the name of the directory bazel is cloned into.bazel-*
/bazel-*

# Ignore benchmark results
.results*/

# Ignore semantic-release files
.env
.npmrc
node_modules/

# Ignore artifact files
*.so
*.zip
*.tar
dist/

# Ignore vscode files
.vscode/

# Ignore rust files
rust/proofs-gpu-sys/target
rust/proofs-gpu-sys/Cargo.lock
rust/proofs-gpu-sys/*.so*
rust/proofs-gpu-sys/src/bindings.rs

# Ignore benchmark files
*.pdf
*.tar.gz
*.dot
callgrind.out.*
.results/
.proof_results/

# Ignore python files
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
